<a href="https://colab.research.google.com/github/fralfaro/MAT281_2024/blob/main/docs/homeworks/hw_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# MAT281 - Tarea N°02


## Instrucciones

1.- Completa tus datos personales (nombre y rol USM) en siguiente celda.


* __Nombre__: Nicolas Andres Rodriguez Ansaldo

* __Rol__: 202110548-4

## II.- Titanic - Machine Learning from Disaster

<img src="https://i.pinimg.com/originals/8c/ef/e7/8cefe799c4d5d2ad4ad7f6524d3838f4.png" width = "400" align="center"/>

El desafío **Titanic - Machine Learning from Disaster** en [Kaggle](https://www.kaggle.com/competitions/titanic/overview/description) invita a predecir qué pasajeros sobrevivieron al naufragio del Titanic mediante un modelo de machine learning. Utiliza datos reales de los pasajeros, como su nombre, edad, género y clase socioeconómica, para explorar patrones de supervivencia y construir un modelo predictivo. Este es uno de los desafíos más populares de Kaggle y un excelente punto de partida para aprender sobre machine learning y análisis de datos.

### Pasos para participar:

1. **Unirse a la competencia**:
   - [Crea una cuenta o inicia sesión en Kaggle](https://www.kaggle.com/account/login?returnUrl=%2Fc%2Ftitanic) y acepta las reglas para acceder a los datos de la competencia.
   
2. **Descargar y explorar los datos**:
   - Descarga los archivos `train.csv` y `test.csv` desde la [página de datos](https://www.kaggle.com/competitions/titanic/data).
   - `train.csv` contiene información de 891 pasajeros, incluyendo si sobrevivieron o no (columna `Survived`). En `test.csv`, se oculta esta columna para que tu modelo prediga la supervivencia de 418 pasajeros adicionales.

3. **Desarrollar el modelo**:
   - Usa `train.csv` para explorar y descubrir patrones, luego entrena un modelo de machine learning que pueda predecir la supervivencia en `test.csv`. Un recurso útil para aprender es el [tutorial de Alexis Cook](https://www.kaggle.com/alexisbcook/titanic-tutorial), que explica paso a paso cómo hacer tu primera predicción.
   - Puedes explorar notebooks de otros participantes para inspiración y técnicas avanzadas en la [sección de notebooks](https://www.kaggle.com/c/titanic/notebooks).

4. **Realizar una predicción y enviar tu archivo**:
   - El archivo CSV de predicciones debe tener dos columnas: `PassengerId` y `Survived`. Puedes consultar un ejemplo en el archivo `gender_submission.csv` disponible en la [página de datos](https://www.kaggle.com/competitions/titanic/data).
   - Sube tu archivo en la sección de envíos y revisa tu puntaje de precisión, que mide el porcentaje de pasajeros que tu modelo predijo correctamente.

5. **Revisar el leaderboard y mejorar el modelo**:
   - Ve tu posición en el [leaderboard](https://www.kaggle.com/c/titanic/leaderboard) y mejora tu modelo basándote en ideas de los foros o pruebas adicionales.

### Ayuda y recursos adicionales:

- [Foro de discusión del Titanic](https://www.kaggle.com/c/titanic/discussion): Un espacio donde puedes hacer preguntas y ver consejos de otros participantes.
- [Vídeo sobre la jerga de Kaggle](https://www.youtube.com/watch?v=sEJHyuWKd-s) por Dr. Rachael Tatman, para entender mejor los términos comunes en Kaggle.
- [Notebooks de la competencia](https://www.kaggle.com/c/titanic/notebooks): Revisa notebooks compartidos para ver cómo otros abordan el desafío.

Este desafío es ideal para principiantes en machine learning y permite practicar desde la limpieza de datos hasta el desarrollo y evaluación de modelos.

In [1]:
#Importar librerias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import os

In [2]:
#cargar datos
test_df=pd.read_csv('titanic/test.csv')
train_df=pd.read_csv('titanic/train.csv')
gender_sub_df=pd.read_csv('titanic/gender_submission.csv')

**EDA**

In [3]:
print(gender_sub_df.columns)
print(gender_sub_df.dtypes)
gender_sub_df.head(10)

Index(['PassengerId', 'Survived'], dtype='object')
PassengerId    int64
Survived       int64
dtype: object

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

In [4]:
print(train_df.columns)
print(train_df.dtypes)
train_df.head(10)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
print(test_df.columns)
print(test_df.dtypes)
test_df.head(10)

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

Vamos a asumir que la cabina, nombre y ticket no tienen ningun impacto en la probabilidad de supervivencia.

In [6]:
train_df=train_df.drop(['Cabin','Name','Ticket'],axis=1)
test_df=test_df.drop(['Cabin','Name','Ticket'],axis=1)

In [7]:
# Cambiar sexo por un valor nominal
train_df['Sex']=train_df['Sex'].map({'male':0,'female':1})
test_df['Sex']=test_df['Sex'].map({'male':0,'female':1})
#Ademas sumaremos la columna 'sibsp' y 'parch' pues representa la cantidad de seres queridos
train_df['Family']=train_df['SibSp']+train_df['Parch']
test_df['Family']=test_df['SibSp']+test_df['Parch']
train_df=train_df.drop(['SibSp','Parch'],axis=1)
test_df=test_df.drop(['SibSp','Parch'],axis=1)

In [8]:
#Cambiamos Embarked por un dato nominal
train_df['Embarked']=train_df['Embarked'].map({'S':0,'C':1,'Q':2})
test_df['Embarked']=test_df['Embarked'].map({'S':0,'C':1,'Q':2})

In [9]:
train_df.head(10)

   PassengerId  Survived  Pclass  Sex   Age     Fare  Embarked  Family
0            1         0       3    0  22.0   7.2500       0.0       1
1            2         1       1    1  38.0  71.2833       1.0       1
2            3         1       3    1  26.0   7.9250       0.0       0
3            4         1       1    1  35.0  53.1000       0.0       1
4            5         0       3    0  35.0   8.0500       0.0       0
5            6         0       3    0   NaN   8.4583       2.0       0
6            7         0       1    0  54.0  51.8625       0.0       0
7            8         0       3    0   2.0  21.0750       0.0       4
8            9         1       3    1  27.0  11.1333       0.0       2
9           10         1       2    1  14.0  30.0708       1.0       1

In [10]:
test_df.head(10)

   PassengerId  Pclass  Sex   Age     Fare  Embarked  Family
0          892       3    0  34.5   7.8292         2       0
1          893       3    1  47.0   7.0000         0       1
2          894       2    0  62.0   9.6875         2       0
3          895       3    0  27.0   8.6625         0       0
4          896       3    1  22.0  12.2875         0       2
5          897       3    0  14.0   9.2250         0       0
6          898       3    1  30.0   7.6292         2       0
7          899       2    0  26.0  29.0000         0       2
8          900       3    1  18.0   7.2292         1       0
9          901       3    0  21.0  24.1500         0       2

Estudiemos las correlaciones de cada variable

In [11]:
#por clase social
train_df[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [12]:
#por sexo
train_df[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Sex  Survived
1    1  0.742038
0    0  0.188908

In [13]:
#por familia
train_df[['Family', 'Survived']].groupby(['Family'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Family  Survived
3       3  0.724138
2       2  0.578431
1       1  0.552795
6       6  0.333333
0       0  0.303538
4       4  0.200000
5       5  0.136364
7       7  0.000000
8      10  0.000000

Estos atos valen la pena tenerlos en cuenta para el entrenamiento

In [14]:
print(train_df.isnull().sum())
print(test_df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
Fare             0
Embarked         2
Family           0
dtype: int64
PassengerId     0
Pclass          0
Sex             0
Age            86
Fare            1
Embarked        0
Family          0
dtype: int64

In [15]:
print(train_df.describe())
print(test_df.describe())

       PassengerId    Survived      Pclass         Sex         Age  \
count   891.000000  891.000000  891.000000  891.000000  714.000000
mean    446.000000    0.383838    2.308642    0.352413   29.699118
std     257.353842    0.486592    0.836071    0.477990   14.526497
min       1.000000    0.000000    1.000000    0.000000    0.420000
25%     223.500000    0.000000    2.000000    0.000000   20.125000
50%     446.000000    0.000000    3.000000    0.000000   28.000000
75%     668.500000    1.000000    3.000000    1.000000   38.000000
max     891.000000    1.000000    3.000000    1.000000   80.000000

             Fare    Embarked      Family
count  891.000000  889.000000  891.000000
mean    32.204208    0.362205    0.904602
std     49.693429    0.636157    1.613459
min      0.000000    0.000000    0.000000
25%      7.910400    0.000000    0.000000
50%     14.454200    0.000000    0.000000
75%     31.000000    1.000000    1.000000
max    512.329200    2.000000   10.000000
       PassengerId      Pclass         Sex         Age        Fare  \
count   418.000000  418.000000  418.000000  332.000000  417.000000
mean   1100.500000    2.265550    0.363636   30.272590   35.627188
std     120.810458    0.841838    0.481622   14.181209   55.907576
min     892.000000    1.000000    0.000000    0.170000    0.000000
25%     996.250000    1.000000    0.000000   21.000000    7.895800
50%    1100.500000    3.000000    0.000000   27.000000   14.454200
75%    1204.750000    3.000000    1.000000   39.000000   31.500000
max    1309.000000    3.000000    1.000000   76.000000  512.329200

         Embarked      Family
count  418.000000  418.000000
mean     0.464115    0.839713
std      0.685516    1.519072
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      1.000000    1.000000
max      2.000000   10.000000

In [16]:
print(train_df.corr())
print(test_df.corr())

             PassengerId  Survived    Pclass       Sex       Age      Fare  \
PassengerId     1.000000 -0.005007 -0.035144 -0.042939  0.036847  0.012658
Survived       -0.005007  1.000000 -0.338481  0.543351 -0.077221  0.257307
Pclass         -0.035144 -0.338481  1.000000 -0.131900 -0.369226 -0.549500
Sex            -0.042939  0.543351 -0.131900  1.000000 -0.093254  0.182333
Age             0.036847 -0.077221 -0.369226 -0.093254  1.000000  0.096067
Fare            0.012658  0.257307 -0.549500  0.182333  0.096067  1.000000
Embarked       -0.030555  0.108669  0.043835  0.118593  0.012186  0.063462
Family         -0.040143  0.016639  0.065997  0.200988 -0.301914  0.217138

             Embarked    Family
PassengerId -0.030555 -0.040143
Survived     0.108669  0.016639
Pclass       0.043835  0.065997
Sex          0.118593  0.200988
Age          0.012186 -0.301914
Fare         0.063462  0.217138
Embarked     1.000000 -0.081057
Family      -0.081057  1.000000
             PassengerId    Pclass       Sex       Age      Fare  Embarked  \
PassengerId     1.000000 -0.026751 -0.023245 -0.034102  0.008211 -0.049863
Pclass         -0.026751  1.000000 -0.108615 -0.492143 -0.577147  0.031096
Sex            -0.023245 -0.108615  1.000000 -0.000013  0.191514  0.126779
Age            -0.034102 -0.492143 -0.000013  1.000000  0.337932  0.113664
Fare            0.008211 -0.577147  0.191514  0.337932  1.000000  0.053588
Embarked       -0.049863  0.031096  0.126779  0.113664  0.053588  1.000000
Family          0.030087  0.012736  0.161803 -0.093632  0.249924 -0.140254

               Family
PassengerId  0.030087
Pclass       0.012736
Sex          0.161803
Age         -0.093632
Fare         0.249924
Embarked    -0.140254
Family       1.000000

La desviacion estandar es demasiada alta, se llenaran los datos NaN con la mediana.

In [17]:
train_df['Age']=train_df['Age'].fillna(train_df['Age'].median())
test_df['Age']=test_df['Age'].fillna(test_df['Age'].median())
train_df['Fare']=train_df['Fare'].fillna(train_df['Fare'].median())
test_df['Fare']=test_df['Fare'].fillna(test_df['Fare'].median())
train_df['Embarked']=train_df['Embarked'].fillna(train_df['Embarked'].median())

In [18]:
print(train_df.isnull().sum())
print(test_df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
Fare           0
Embarked       0
Family         0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
Fare           0
Embarked       0
Family         0
dtype: int64

Ahora estamos listos para hacer la predicción

In [19]:
X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.copy()
Y_test  = gender_sub_df["Survived"]

In [20]:
# Importar herramientas de Scikit-learn
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression,Ridge
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [21]:
# Logistic Regression
# Optimizacion de hiperparametros
param_grid1={
    'C':[0.001,0.01,0.1,1,10,100],
    'penalty':['l1','l2'],
    'solver':['liblinear','saga'],
    'max_iter':[100,200,300]
}
model1=LogisticRegression()
grid_search1=GridSearchCV(
    estimator=model1,
    param_grid=param_grid1,
    cv=5,
    scoring='accuracy',
    verbose=1,
    n_jobs=-1
)
grid_search1.fit(X_train,Y_train)
print("Mejor precisión en validación cruzada:", grid_search1.best_score_)
print("Mejores parámetros:", grid_search1.best_params_)
mejor_modelo1 = grid_search1.best_estimator_
mejor_modelo1.fit(X_train, Y_train)
print("Precisión en el conjunto de evaluación: {:.3f}".format(mejor_modelo1.score(X_test, Y_test)))
y_pred1=mejor_modelo1.predict(X_test)

Fitting 5 folds for each of 72 candidates, totalling 360 fits
Mejor precisión en validación cruzada: 0.7968614650681063
Mejores parámetros: {'C': 1, 'max_iter': 100, 'penalty': 'l2', 'solver': 'liblinear'}
Precisión en el conjunto de evaluación: 0.926

In [24]:
# SVC
# Optimizacion de hiperparametros
param_grid2={
    'C':[0.1,1,10,100],
    'kernel':['linear','rbf'],
    'gamma':['scale','auto',0.1,1,10],
}
model2=SVC()
grid_search2=GridSearchCV(
    estimator=model2,
    param_grid=param_grid2,
    cv=5,
    scoring='accuracy',
    verbose=1,
    n_jobs=-1
)
grid_search2.fit(X_train,Y_train)
print("Mejor precisión en validación cruzada:", grid_search2.best_score_)
print("Mejores parámetros:", grid_search2.best_params_)
mejor_modelo2 = grid_search2.best_estimator_
mejor_modelo2.fit(X_train, Y_train)
print("Precisión en el conjunto de evaluación: {:.3f}".format(mejor_modelo2.score(X_test, Y_test)))
y_pred2=mejor_modelo2.predict(X_test)

Fitting 5 folds for each of 40 candidates, totalling 200 fits
Mejor precisión en validación cruzada: 0.799114933149206
Mejores parámetros: {'C': 10, 'gamma': 'scale', 'kernel': 'linear'}
Precisión en el conjunto de evaluación: 0.801

In [23]:
#Random Forest
# Optimizacion de parametros
param_grid3={
    'n_estimators':[10,50,100,200],
    'max_depth':[10,20,30],
    'min_samples_split':[2,5,10],
    'min_samples_leaf':[1,2,4],
    'max_features':['sqrt','log2']
}
model3=RandomForestClassifier()
grid_search3=GridSearchCV(
    estimator=model3,
    param_grid=param_grid3,
    cv=5,
    scoring='accuracy',
    verbose=1,
    n_jobs=-1
)
grid_search3.fit(X_train, Y_train)
print("Mejor precisión en validación cruzada:", grid_search3.best_score_)
print("Mejores parámetros:", grid_search3.best_params_)
mejor_modelo3=grid_search3.best_estimator_
mejor_modelo3.fit(X_train, Y_train)
print("Precisión en el conjunto de evaluación: {:.3f}".format(mejor_modelo3.score(X_test, Y_test)))
y_pred3=mejor_modelo3.predict(X_test)

Fitting 5 folds for each of 216 candidates, totalling 1080 fits
Mejor precisión en validación cruzada: 0.8316552633230809
Mejores parámetros: {'max_depth': 30, 'max_features': 'log2', 'min_samples_leaf': 2, 'min_samples_split': 10, 'n_estimators': 10}
Precisión en el conjunto de evaluación: 0.849

In [ ]:
#Comparacion de metricas
metricas={
    'Modelo':['Logistic Regression','SVC','Random Forest'],
    'Precision':[precision_score(Y_test,y_pred1),precision_score(Y_test,y_pred2),precision_score(Y_test,y_pred3)],
    'Recall':[recall_score(Y_test,y_pred1),recall_score(Y_test,y_pred2),recall_score(Y_test,y_pred3)],
    'F1-Score':[f1_score(Y_test,y_pred1),f1_score(Y_test,y_pred2),f1_score(Y_test,y_pred3)],
    'Accuracy':[accuracy_score(Y_test,y_pred1),accuracy_score(Y_test,y_pred2),accuracy_score(Y_test,y_pred3)]
}
df_metricas=pd.DataFrame(metricas)
df_metricas

In [ ]:
df_submit = pd.DataFrame()
df_submit['PassengerId'] = X_test['PassengerId']
df_submit['Survived'] = mejor_modelo1(X_test).astype(int)
df_submit.set_index('PassengerId',drop=True,inplace=True)
print(df_submit)
df_submit.to_csv('submission_svm.csv’)